/.vs/StoresForBike/FileContentIndex/*
/.vs/StoresForBike/v17/*
/.vs/StoresForBike/v17/.suo
/BlazorUI/bin/Debug/net7.0/BlazorUI.dll
/BlazorUI/bin/Debug/net7.0/BlazorUI.pdb
*.dll
/BlazorUI/obj/Debug/net7.0/BlazorUI.dll
/BlazorUI/obj/Debug/net7.0/BlazorUI.GeneratedMSBuildEditorConfig.editorconfig
/BlazorUI/obj/Debug/net7.0/BlazorUI.pdb
/BlazorUI/obj/Debug/net7.0/project.razor.vs.json